.cart {
	width: 100%;
}

.cart h2 {
	margin: 2rem 1rem;
}

.summary-product {
	display: grid;
	grid-template-areas:
		"image""title""options""price";
	grid-gap: 10px;
	padding: 2rem;
	transition: filter 200ms ease;
}

@media screen and (min-width: 490px) {
	.summary-product {
		grid-template-areas: "image title price"
			"image options price";
	}

}

.summary-product-title {
	grid-area: title;
	margin: 0;
}

.summary-product-image {
	width: 10rem;
	height: 10rem;
	grid-area: image;
	margin: 0 auto;
}

.summary-product-option {
	line-height: 2rem;
	display: flex;
}

.summary-product-options {
	grid-area: options;
}

.summary-product-option-key {
	font-weight: bold;
}

.summary-product-option-value {
	margin: 0 .5rem;
}

.summary-product-price {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	grid-area: price;
}

.summary-product-wrapper {
	position: relative;
}

.summary-product-wrapper:hover .summary-product-delete-overlay {
	display: flex;
	z-index: 2;
}

.summary-product-wrapper:hover .summary-product {
	filter: blur(5px);
}

.summary-product-delete-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 0, .3);
	color: red;
	font-size: 3rem;
	align-items: center;
	justify-content: center;
	transition: all 200ms ease;
}

.shipping-costs,
.total-price {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

.shipping-costs .label,
.total-price .label {
	font-weight: bold;
}

.shipping-costs .value,
.total-price .value {
	font-size: 1.5rem;
	font-weight: bold;
}

.shipping-info .form {
	padding: 0 1rem;
	display: flex;
	flex-wrap: wrap;
}

.shipping-info .form h4 {
	text-transform: uppercase;
	width: 100%;
}

.shipping-info .form input {
	border: 0;
	padding: .4rem;
	border-bottom: 1px solid dimgray;
	margin: 1rem 1rem 1rem 0;
	width: calc(100% - 2rem);
	margin-right: 1rem;
}

.shipping-info .form .half {
	width: 50%;
}

.shipping-info .form .full {
	width: 100%;
}

.shipping-info .form .threequarters {
	width: 75%;
}

.shipping-info .form .quarter {
	width: 25%;

}

.shipping-info label {
	position: relative;
}

.shipping-info label span.label {
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: bold;
	position: absolute;
}
