main {
	padding: 1rem;
}

.product-reviews {
	display: flex;
	align-items: center;
}

.product-reviews>*:not(:last-child) {
	margin-right: 1rem;
}

.option {
	display: inline-block;
	border: 1px solid grey;
	padding: 1rem;
	margin: 1rem;
	border-radius: 2px;
	transition: all 150ms ease-in;
}

.option.selected {
	border: 2px solid black;
}

.option:hover {
	background-color: lightblue;
}
