main {
	padding: 1rem;
}


.option {
	display: inline-block;
	border: 1px solid grey;
	padding: 1rem;
	margin: 1rem;
	transition: all 150ms ease-in;
}

.option:hover {
	background-color: lightblue;
}
